.footer {
    background-color: var(--color-dark-blue);
    padding: 80px 0;

    .logo {
        display: inline-block;
        margin-bottom: 42px;

        @media screen and (max-width: 768px) {
            margin-bottom: 25px;

            svg {
                width: 100px;
                height: 25px;
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        margin-bottom: 48px;

        .linksList {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 25px;

            @media screen and (max-width: 768px) {
                flex: 1;
            }
        }

        .link {
            font-size: 14px;
            line-height: 10px;
            color: var(--color-white);
            white-space: nowrap;
        }

        .title {
            font-size: 16px;
            font-weight: 600;
            line-height: 11px;
        }

        .catalogLinks {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 25px;
            flex: 1;

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
                flex-basis: 100%;
            }
        }

        .navLinks {
            display: flex;
            justify-content: flex-end;
            flex: 1;

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
            }
        }

        .contacts {
            display: flex;
            justify-content: flex-end;
            flex: 1;

            .telWrap {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    font-size: 14px;
                    color: var(--color-blue-tertiary);
                }
            }

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
            }
        }

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
    }

    .foot {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footLinks {
            display: flex;

            .policy {
                margin-right: 118px;
            }

            a {
                font-size: 14px;
                color: var(--color-blue-tertiary);
            }
        }

        .socials {
            display: flex;
            gap: 25px;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;

            .footLinks {
                width: 100%;
                justify-content: space-between;

                .policy {
                    margin-right: unset;
                }
            }

            .socials {
                order: -1;
                margin-bottom: 30px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 40px 0 85px 0;
    }
}
