.productsCarouselWrap {
    .title {
        margin-bottom: 60px;
    }

    .productsCarousel {
        max-width: 1360px;
    }

    .slide {
        width: auto;
    }
}

@media screen and (max-width: 992px) {
    .productsCarouselWrap {
        .title {
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .productsCarouselWrap {
        .title {
            margin-bottom: 20px;
        }
    }
}
