.productsCarouselWrap {
    .titleWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 58px;

        .buttons {
            display: flex;
            gap: 11px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                background-color: var(--color-grey);
                color: var(--color-dark-blue);
            }
        }
    }

    .slide {
        width: auto;
    }
}
