.productsCarouselWrap {
    .title {
        margin-bottom: 60px;
    }

    .productsCarousel {
        max-width: 1360px;
    }

    .slide {
        width: auto;
    }

    .productCard {
        min-width: 305px;
    }
}

@media screen and (max-width: 992px) {
    .productsCarouselWrap {
        .title {
            margin-bottom: 24px;
        }

        .productCard {
            min-width: 245px;
        }
    }
}

@media screen and (max-width: 768px) {
    .productsCarouselWrap {
        .title {
            margin-bottom: 20px;
        }

        .productCard {
            min-width: 177px;
        }
    }
}
