.warningText {
    background-color: var(--color-grey);
    border-radius: 10px;
    padding: 14px;

    font-weight: 500;
    color: var(--color-red-accent);
    margin-bottom: 20px;
}

.checkbox {
    margin-bottom: 20px;
}
