.productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 20px;
}

@media screen and (max-width: 992px) {
    .productsList {
        grid-gap: 20px 10px;
    }
}

@media screen and (max-width: 768px) {
    .productsList {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 10px;
    }
}

@media screen and (max-width: 576px) {
    .productsList {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
    }
}
