.overlay {
    position: fixed;
    inset: 0;
    background-color: #091b5180;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.modalWrap {
    position: fixed;
    inset: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 11;
    padding: 14px;

    .modal {
        padding: 30px;
        background-color: var(--color-white);
        border-radius: 20px;
        pointer-events: initial;

        .titleWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 15.84px;
            }

            svg {
                cursor: pointer;
            }
        }
    }
}
