.childHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 44px;

    .back {
        position: absolute;
        left: 0;
        padding: 10px;
    }

    .title {
        font-weight: 600;
        text-align: center;
    }
}
