.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 20px;
    padding: 0 20px;

    font-weight: 600;
    background-color: unset;
    transition:
        background-color 300ms linear,
        color 300ms linear;

    &.solid {
        &.blue {
            background-color: var(--color-dark-blue);
            color: var(--color-white);

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-blue-accent);
                }
            }

            @media (hover: none) {
                &:active {
                    background-color: var(--color-blue-accent);
                }
            }
        }

        &.white {
            background-color: var(--color-white);
            color: var(--color-dark-blue);
        }
    }

    &.outline {
        &.blue {
            border: 1px solid var(--color-dark-blue);
            color: var(--color-dark-blue);

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-dark-blue);
                    color: var(--color-white);
                }
            }

            @media (hover: none) {
                &:active {
                    background-color: var(--color-dark-blue);
                    color: var(--color-white);
                }
            }
        }

        &.white {
            border: 1px solid var(--color-white);
            color: var(--color-white);

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-white);
                    color: var(--color-dark-blue);
                }
            }

            @media (hover: none) {
                &:active {
                    background-color: var(--color-white);
                    color: var(--color-dark-blue);
                }
            }
        }
    }

    &.fullWidth {
        width: 100%;
    }

    &.lg {
        height: 50px;
        font-size: 16px;
    }

    &.md {
        height: 37px;
        font-size: 14px;
    }
}
