.newCollectionBanner {
    .newCollectionBannerContainer {
        background-image: url('../../../shared/assets/images/new_collection_banner_bg.jpg');
        background-size: cover;
        padding: 137px 108px 128px;
        border-radius: 20px;
        min-height: 487px;

        .title {
            font-weight: 500;
            font-size: 54px;
            line-height: 38px;
            margin-bottom: 30px;
        }

        .description {
            font-size: 18px;
            line-height: 21.6px;
            max-width: 550px;
            margin-bottom: 47px;
        }

        .button {
            max-width: 220px;
        }
    }
}

@media screen and (max-width: 992px) {
    .newCollectionBanner {
        .newCollectionBannerContainer {
            padding: 55px 64px;
            min-height: 280px;

            .title {
                font-size: 32px;
                line-height: 1;
                margin-bottom: 24px;
            }

            .description {
                font-size: 14px;
                max-width: 444px;
                margin-bottom: 40px;
            }

            .button {
                max-width: 164px;
                height: 40px;
                font-size: 14px;
                border-radius: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .newCollectionBanner {
        .newCollectionBannerContainer {
            display: flex;
            flex-direction: column;
            padding: 24px 16px;
            min-height: 350px;

            .title {
                margin-bottom: 30px;
            }

            .description {
                font-size: 14px;
                max-width: unset;
                flex: 1;
            }

            .button {
                max-width: unset;
                height: 53px;
                font-size: 16px;
                border-radius: 20px;
            }
        }
    }
}
