.inputCounter {
    display: flex;
    gap: 12px;
    background-color: var(--color-dark-blue);

    &.md {
        padding: 7px 13px;
        height: 50px;
        border-radius: 20px;
        min-width: 108px;
        max-width: 108px;

        input {
            font-weight: 600;
            font-size: 20px;
        }
    }

    &.sm {
        padding: 5.5px 15px;
        height: 38px;
        border-radius: 10px;
        min-width: 101px;
        max-width: 101px;

        input {
            font-weight: 500;
            font-size: 16px;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--color-white);
    }

    input {
        border-radius: 10px;
        width: 100%;
        text-align: center;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
