.reviewForm {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .ratingWrap {
        display: flex;
        align-items: center;
        gap: 7px;

        .rating {
            display: flex;
            align-items: center;
            gap: 7px;

            .grade {
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: transparent;
                    transition: fill 200ms;
                }

                &.active {
                    svg {
                        fill: var(--color-dark-blue);
                    }
                }

                input:checked + svg {
                    fill: var(--color-dark-blue);
                }
            }
        }

        .label {
            font-weight: 500;
            font-size: 16px;
            color: var(--color-blue-tertiary);
        }
    }

    .fieldsWrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.file {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
        font-weight: 500;
        font-size: 24px;
    }

    .fileWrap {
        display: flex;
        align-items: center;
        gap: 24px;

        .fileArea {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 115px;
            height: 101px;
            border-radius: 20px;
            background-color: var(--color-grey);
            cursor: pointer;
        }

        .wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .subtitle {
            font-weight: 500;
            font-size: 14px;
            color: var(--color-dark-blue);
        }

        .hint {
            font-weight: 500;
            font-size: 14px;
            color: var(--color-blue-tertiary);

            &.error {
                color: var(--color-red-accent);
            }
        }
    }
}
