.orderCard {
    padding: 30px;
    background-color: var(--color-grey);
    border-radius: 20px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .headerTitle {
            display: flex;
            align-items: center;
            gap: 14px;

            .orderNumber {
                font-weight: 500;
                font-size: 28px;
            }
        }
    }

    .status {
        background-color: var(--color-white);
        padding: 9px 15px;
        border-radius: 20px;
        color: var(--color-green-accent);
        font-weight: 500;
        font-size: 14px;
    }

    .wrap {
        display: flex;
        justify-content: space-between;
    }

    .info {
        .count {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            font-size: 18px;
            color: var(--color-blue-tertiary);
            margin-bottom: 20px;
        }

        .price {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 50px;
        }

        .button {
            gap: 10px;
            height: 40px;
            width: 214px;
        }
    }

    .infoOpenWrap {
        overflow: hidden;
    }

    .infoOpen {
        padding-top: 30px;

        .wrap {
            align-items: center;
            gap: 38px;
        }

        .count {
            margin-bottom: unset;
        }

        .price {
            margin-bottom: unset;
        }

        .button {
            width: 162px;
        }
    }

    .productsPreview {
        display: flex;
        gap: 12px;
    }

    .image {
        mix-blend-mode: darken;
        object-fit: contain;
    }

    .bodyOpen {
        .productsList {
            margin-bottom: 30px;
        }

        .foot {
            .deliveryType {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }

    .mobileBody {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .orderCard {
        padding: 16px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 24px;

            .headerTitle {
                display: flex;
                align-items: center;
                gap: 14px;

                .orderNumber {
                    font-weight: 600;
                    font-size: 18px;
                }

                .status {
                    display: none;
                }
            }

            svg {
                display: none;
            }
        }

        .separator {
            display: none;
        }

        .wrap {
            display: none;
        }

        .bodyOpen {
            display: none;
        }

        .mobileBody {
            display: block;

            .count {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 14px;
            }

            .statusWrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;

                span {
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            .totalCostWrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;

                font-weight: 600;
                font-size: 18px;
            }

            .button {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
