.categoryPage {
    .titleWrap {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
    }

    .catalogWrap {
        display: flex;
        gap: 20px;
        align-items: flex-start;

        .catalog {
            flex: 1;

            .sort {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
            }

            .productsList {
                margin-bottom: 60px;
            }

            .more {
                margin: 0 auto;
                max-width: 265px;
            }
        }
    }
}
