.inputWrap {
    .labelWrap {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        .label {
            font-weight: 500;
            font-size: 14px;
            line-height: 10px;
        }

        .hint {
            font-weight: 500;
            font-size: 12px;
            line-height: 8px;
            color: var(--color-blue-tertiary);
        }
    }

    .inputContainer {
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: var(--color-grey);
        border-radius: 10px;
        height: 48px;
        padding: 0 14px;

        .input {
            font-weight: 500;
            font-size: 16px;
            background-color: transparent;
            color: var(--color-blue-tertiary);
            flex: 1;

            &::placeholder {
                color: var(--color-blue-tertiary);
            }
        }
    }

    &.dark {
        .inputContainer {
            background-color: #091b5199;
            border-radius: 20px;
            height: 51px;
            padding: 0 28px;
            outline: 1px solid var(--color-white);

            .input {
                color: var(--color-white);

                &::placeholder {
                    color: var(--color-white);
                }
            }
        }
    }

    &.white {
        .inputContainer {
            background-color: var(--color-white);
        }
    }

    &.sm {
        .inputContainer {
            height: 34px;

            .input {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    &.isError {
        .inputContainer {
            outline: 1px solid var(--color-red-accent);
            outline-offset: -1px;
        }

        .error {
            font-weight: 500;
            font-size: 14px;
            color: var(--color-red-accent);
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 992px) {
    .inputWrap {
        .inputContainer {
            .input {
                font-size: 14px;
            }
        }
    }
}
