.container {
    position: fixed;
    inset: 0;
    background-color: var(--color-white);
    z-index: 100;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 80px;
    }
}
