.favoritesPage {
    .favoritesWrap {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .sort {
            display: flex;
            flex-direction: column;
            gap: 18px;

            background-color: var(--color-grey);
            padding: 26px 24px 34px 24px;
            border-radius: 20px;
            min-width: 305px;

            p {
                font-weight: 600;
            }
        }

        .list {
            width: 100%;
            max-width: 955px;
        }
    }
}

@media screen and (max-width: 992px) {
    .favoritesPage {
        .favoritesWrap {
            .sort {
                display: none;
            }
        }
    }
}
