.header {
    position: sticky;
    top: 14px;
    z-index: 2;

    .headerContent {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-dark-blue);
        border-radius: 20px;
        padding: 14px 30px;
        gap: 20px;

        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 876px;
            gap: 20px;
        }

        .logo {
        }

        .searchWrap {
            display: flex;
            gap: 18px;
            width: 100%;
            max-width: 684px;
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            .option {
                position: relative;
                color: var(--color-white);
                display: block;

                svg {
                    display: block;
                }

                @media (hover: hover) {
                    cursor: pointer;
                }

                .badge {
                    background-color: var(--color-red-accent);
                    border-radius: 10px;
                    min-width: 12px;
                    height: 12px;
                    line-height: 13px;
                    padding: 0 4.5px;
                    position: absolute;
                    right: -5px;
                    bottom: -5px;
                    font-weight: 600;
                    font-size: 8px;
                }
            }
        }

        .search {
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            width: unset;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        margin-top: 24px;

        .headerContent {
            padding: 12px 20px;

            .wrap {
                max-width: 555px;
            }

            .logo {
                svg {
                    width: 76px;
                }
            }

            .options {
                gap: 12px;
            }

            .searchWrap {
                gap: 12px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .headerContent {
            padding: 16px;

            .logo {
                svg {
                    width: 100px;
                    height: 26px;
                }
            }

            .searchWrap {
                display: none;
            }

            .options {
                display: none;
            }
        }
    }
}
