.mainPage {
    padding: 10px 0 160px 0;
    display: flex;
    flex-direction: column;
    gap: 160px;

    .mainBanner {
        margin-bottom: 40px;
    }

    .categoriesList {
        margin-bottom: 30px;
    }

    .button {
        margin: 0 auto;
        min-width: 265px;
    }

    @media screen and (max-width: 992px) {
        padding: 10px 0 60px 0;
        gap: 60px;

        .categoriesList {
            margin-bottom: 20px;
        }
    }
}
