.filters {
    width: 305px;
    background-color: var(--color-grey);
    padding: 10px 24px 24px 24px;
    border-radius: 20px;

    .filtersList {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        .filter {
            border-bottom: 1px solid #091b514d;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
