.catalogPage {
    padding: 80px 0 120px 0;

    .catalogSection {
        margin-bottom: 206px;
    }

    .titleContainer {
        margin-bottom: 47px;
    }

    .filterByCategory {
        margin-bottom: 56px;
    }

    .catalogContainer {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .productsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .dropdown {
            margin-bottom: 15px;
        }
    }

    .more {
        min-width: 265px;
        margin: 96px auto 0 auto;
    }
}
