.menuButton {
    border-radius: 10px !important;
    min-width: unset !important;
    padding: 0 17px !important;
    height: 40px !important;
    gap: 9px !important;
    font-weight: 700 !important;

    svg {
        display: block;
    }

    @media screen and (max-width: 768px) {
        width: 40px !important;
        height: 40px !important;
        border-radius: 40px !important;
        padding: unset !important;

        svg {
            width: 18px !important;
            height: 18px !important;
        }
    }
}
