.productHeader {
    align-items: center;
    padding: 14px 0;
    display: none;

    .back {
        padding: 8px 8px 8px 0;
    }

    .actions {
        display: flex;
        gap: 8px;
        margin-left: 8px;

        .favorite {
            fill: var(--color-white);

            &.isFavorite {
                fill: var(--color-dark-blue);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .productHeader {
        display: flex;
    }
}
