.productWrap {
    display: none;

    .productBody {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }

        .wrap {
            padding: 16px 12px;
            background-color: var(--color-grey);
            border-radius: 20px;
        }

        .price {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--color-blue-accent);

            span {
                font-weight: 600;
                font-size: 18px;
            }
        }

        .title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 14px;
        }

        .characteristics {
            display: flex;
            align-items: center;
            gap: 4px;

            font-weight: 500;
            font-size: 14px;
            color: var(--color-blue-tertiary);
            margin-bottom: 14px;
        }

        .image {
            width: 100%;
            object-fit: cover;
            mix-blend-mode: darken;
            margin-bottom: 14px;
        }

        .button {
            color: var(--color-blue-accent) !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .productWrap {
        display: initial;
    }
}
