.sideNavigation {
    display: flex;
    flex-direction: column;
    min-width: 305px;

    .sideNavigationItem {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 11px;
        padding: 19px 15px;
        border-radius: 14px;
        transition:
            background-color 300ms ease-out,
            color 300ms ease-out;

        &.active {
            color: var(--color-blue-accent);
            background-color: var(--color-grey);
        }

        @media (hover: hover) {
            &:hover {
                color: var(--color-blue-accent);
                background-color: var(--color-grey);
            }
        }
    }
}
