.account {
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--color-grey);

    .formsWrap {
        border-radius: 20px;
        padding: 30px;
        background-color: var(--color-white);
        position: relative;

        .forms {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            margin-bottom: 30px;

            .form {
                display: flex;
                flex-direction: column;
                gap: 24px;
                flex: 1;
                max-width: 377px;

                .title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 13px;
                }

                .formSeparator {
                    display: none;
                }

                .button {
                    margin-top: 30px;
                }
            }
        }

        .separator {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 128px;
        }
    }
}

.error {
    font-weight: 500;
    font-size: 16px;
    line-height: 11px;
    color: var(--color-red-accent);
    position: absolute;
    bottom: 50px;
}

@media screen and (max-width: 768px) {
    .account {
        padding: 15px;

        .formsWrap {
            padding: 24px 12px;

            .forms {
                display: flex;
                justify-content: space-between;
                gap: 24px;
                margin-bottom: 30px;
                flex-direction: column;

                .form {
                    max-width: unset;

                    .formSeparator {
                        display: block;
                    }

                    .button {
                        margin-top: 6px;
                    }
                }
            }

            .separator {
                display: none;
            }
        }
    }
}
