.navigation {
    padding: 24px;
    background-color: var(--color-grey);
    border-radius: 20px;
    min-width: 305px;

    .name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 18px;
    }

    .itemsList {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .item {
            padding: 14px;
            border-radius: 14px;
            transition: background-color 300ms;

            span {
                font-weight: 500;
                font-size: 16px;
                transition: color 300ms;
            }

            svg {
                display: none;
            }

            &.active {
                background-color: var(--color-white);

                span {
                    color: var(--color-blue-accent);
                }
            }

            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-white);

                    span {
                        color: var(--color-blue-accent);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        padding: 24px 16px 16px 16px;
        min-width: unset;
        width: 100%;

        .name {
            margin-bottom: 30px;
        }

        .itemsList {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item {
                padding: 16px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: unset;

                &:not(:last-child) {
                    padding: 16px 0 26px 0;
                    border-bottom: 1px solid rgba(30, 32, 135, 0.3);
                }

                svg {
                    display: block;
                }
            }
        }
    }
}
