:root {
    --color-white: #ffffff;
    --color-dark-blue: #091b51;
    --color-grey: #f1f4f8;
    --color-blue-tertiary: #7d88a5;
    --color-blue-accent: #4733f4;
    --color-red-accent: #ff3538;
}
