.orderProductCard {
    .body {
        display: flex;
        align-items: center;
        gap: 24px;

        img {
            mix-blend-mode: darken;
        }

        .info {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .titleWrap {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .title {
                    font-weight: 500;
                    font-size: 18px;
                }

                .number {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--color-blue-tertiary);
                }
            }

            .price {
                font-weight: 500;
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .orderProductCard {
        .body {
            gap: 12px;

            img {
                width: 88px;
                height: 88px;
                object-fit: cover;
            }

            .info {
                flex-direction: column;

                .titleWrap {
                    margin-bottom: 14px;

                    .title {
                        font-size: 14px;
                    }
                }

                .price {
                    font-size: 18px;
                }
            }
        }
    }
}
