.title {
    margin-bottom: 40px;

    @media screen and (max-width: 992px) {
        margin-bottom: 14px;
    }
}

.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    .body {
        width: 100%;
    }
}

.childHeader {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .wrapper {
        .navigation {
            display: none;
        }
    }

    .childNav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .navigation {
            display: block;
        }
    }

    .header {
        display: none;
    }

    .childHeader {
        display: flex !important;
    }

    .childTitle {
        display: none;
    }
}
