.cabinet {
    padding: 24px 0 160px 0;

    .title {
        margin-bottom: 40px;
    }

    .cabinetArea {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .sideMenu {
            border-radius: 20px;
            padding: 26px;
            background-color: var(--color-grey);
            min-width: 305px;

            .name {
                font-weight: 500;
                font-size: 18px;
                line-height: 13px;
                margin-bottom: 18px;
            }

            .navList {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .navItem {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 11px;
                    padding: 16.5px 14px;
                    border-radius: 14px;

                    &.active {
                        background-color: var(--color-white);
                        color: var(--color-blue-accent);
                    }
                }
            }
        }
    }
}
