.questionBanner {
    .questionBannerContainer {
        background-image: url('../../../shared/assets/images/banners/question_banner_bg.png');
        background-size: cover;
        padding: 140px 108px 125px;
        border-radius: 20px;
        min-height: 487px;

        .title {
            font-weight: 500;
            font-size: 54px;
            line-height: 38px;
            margin-bottom: 30px;
            color: var(--color-white);
        }

        .description {
            font-size: 18px;
            line-height: 21.83px;
            margin-bottom: 47px;
            color: var(--color-white);
        }

        .button {
            min-width: 220px;
        }
    }
}
