.homePage {
    padding: 10px 0 150px 0;

    .mainBanner {
        margin-bottom: 91px;
    }

    .categoriesList {
        margin-bottom: 157px;
    }

    .new {
        margin-bottom: 187px;
    }

    .popular {
        margin-bottom: 181px;
    }

    .newCollectionBanner {
        margin-bottom: 166px;
    }

    .accumulators {
        margin-bottom: 181px;
    }

    .advantages {
        margin-bottom: 155px;
    }
}
