.categoryPage {
    .titleWrap {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
    }

    .mobileTopFilters {
        display: none;
    }

    .catalogWrap {
        display: flex;
        gap: 20px;
        align-items: flex-start;

        .catalog {
            flex: 1;

            .topFiltersWrap {
                display: flex;
                gap: 20px;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            .productsList {
                margin-bottom: 60px;
            }

            .more {
                margin: 0 auto;
                max-width: 265px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .categoryPage {
        .titleWrap {
            margin-bottom: 14px;
        }

        .mobileTopFilters {
            display: flex;
        }

        .catalogWrap {
            .filters {
                display: none;
            }

            .catalog {
                .topFiltersWrap {
                    .topFilters,
                    .sort {
                        display: none;
                    }
                }
            }
        }
    }
}
