.categoryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-grey);
    border-radius: 20px;
    aspect-ratio: 1;
    overflow: hidden;

    .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 13px;
        padding: 30px 25px 0 25px;
    }

    .image {
        width: auto;
        height: auto;
        max-width: 100%;
        mix-blend-mode: darken;
        min-width: 100%;
    }
}
