.profilesWrap {
    padding: 30px;
    background-color: var(--color-grey);
    border-radius: 20px;

    .title {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 28px;
    }

    .profilesList {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 24px;
    }

    .buttonWrap {
        display: flex;
        justify-content: flex-end;

        button {
            max-width: 265px;
        }
    }
}

@media screen and (max-width: 992px) {
    .profilesWrap {
        padding: 24px;

        .title {
            font-size: 24px;
            margin-bottom: 28px;
        }
    }
}

@media screen and (max-width: 768px) {
    .profilesWrap {
        padding: 24px 16px 16px 16px;

        .title {
            font-weight: 600;
            font-size: 18px;
        }

        .buttonWrap {
            button {
                max-width: unset;
            }
        }
    }
}
