.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
    transition:
        color 300ms linear,
        background-color 300ms linear;

    &.size-sm {
        min-width: 38px;
        height: 38px;
    }

    &.size-md {
        min-width: 50px;
        height: 50px;
    }

    &.radius-sm {
        border-radius: 10px;
    }

    &.radius-full {
        border-radius: 100%;
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-dark-blue);
            color: var(--color-white);
        }
    }
}
