.productPreview {
    .title {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 12px;
    }

    .ratingReviews {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 12px;

        .star {
            width: 20px;
            height: 20px;
        }

        .rating {
            font-weight: 500;
            color: var(--color-blue-tertiary);
        }

        .ellipse {
            color: var(--color-blue-tertiary);
        }
    }

    .article {
        font-weight: 500;
        color: var(--color-blue-tertiary);
        margin-bottom: 12px;
    }
    .number {
        font-weight: 500;
        color: var(--color-blue-tertiary);
        margin-bottom: 39px;
    }

    .price {
        font-weight: 600;
        font-size: 32px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 24px;
    }

    .specifications {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .specification {
            font-weight: 500;
            font-size: 14px;

            .specificationTitle {
                margin-bottom: 10px;
            }

            .specificationValue {
                color: var(--color-blue-tertiary);
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .productPreview {
        .title {
            font-weight: 500;
            font-size: 24px;
        }

        .ratingReviews {
            .rating {
                font-size: 12px;
            }
        }

        .number {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 24px;
        }

        .price {
            font-weight: 600;
            font-size: 18px;
        }

        .separator {
            margin: 14px 0 !important;
        }

        .specifications {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .specification {
                font-weight: 500;
                font-size: 14px;

                .specificationTitle {
                    margin-bottom: 10px;
                }

                .specificationValue {
                    color: var(--color-blue-tertiary);
                }
            }
        }
    }
}
