.topFilters {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.button {
    margin-top: 16px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (max-width: 992px) {
    .topFilters {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .topFilters {
        padding: 0 14px;
    }
}
