.searchWrap {
    position: relative;
    width: 100%;

    &.isOpen {
        .search {
            border-radius: 10px 10px 0 0;
        }
    }

    .search {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        background-color: var(--color-white);
        border-radius: 10px;

        .input {
            font-weight: 500;
            font-size: 18px;
            color: var(--color-dark-blue);
            width: 100%;
            height: 100%;
            padding: 0 40px 0 20px;
            background-color: unset;

            &::placeholder {
                color: var(--color-blue-tertiary);
            }
        }

        .icon {
            position: absolute;
            right: 19px;
        }
    }

    .searchResult {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background-color: var(--color-white);
        padding: 3px 20px 9px 20px;
        border-top: 1px solid rgba(30, 32, 135, 0.1);
        border-radius: 0 0 10px 10px;

        .searchList {
            display: flex;
            flex-direction: column;
        }
    }
}

.overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
    background-color: rgba(9, 27, 81, 0.5);
    backdrop-filter: blur(5px);
}
