.productDetails {
    margin-bottom: 110px;

    .productInfoContainer {
        display: flex;
        gap: 82px;
        margin-bottom: 103px;

        .breadcrumbs {
            margin-bottom: 27px;
        }
    }
}
