.universalLayout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 160px;

    .title {
        font-weight: 600;
        font-size: 32px;
        line-height: 35.2px;
        margin-bottom: 40px;
    }

    .description {
    }
}
