.dropdown {
    position: relative;
    width: min-content;

    &.solid {
        .dropdownButton {
            background-color: var(--color-grey);
        }
    }

    &.outline {
        .dropdownButton {
            border: 1px solid var(--color-dark-blue);
        }
    }

    &.right {
        .dropdownList {
            right: 0;
        }
    }

    &.left {
        .dropdownList {
            left: 0;
        }
    }

    .dropdownButton {
        display: flex;
        align-items: center;
        gap: 8px;

        height: 35px;
        border-radius: 20px;
        padding: 12px 17px;

        font-weight: 500;
        font-size: 14px;
        line-height: 10px;
        white-space: nowrap;
        cursor: pointer;

        svg {
            display: block;
            width: 8px;
        }
    }

    .dropdownList {
        position: absolute;
        z-index: 1;
        top: 40px;

        display: flex;
        flex-direction: column;

        background-color: var(--color-white);
        border-radius: 20px;
        padding: 12px 16px;
        box-shadow: 0 0 40px #0000001f;

        .dropdownListItem {
            font-weight: 500;
            font-size: 16px;
            line-height: 10px;
            white-space: nowrap;
            padding: 12px 14px;
            border-radius: 14px;
            min-width: 223px;
            transition:
                color 300ms,
                background-color 300ms;

            @media (hover: hover) {
                &:hover {
                    color: var(--color-blue-accent);
                    background-color: var(--color-grey);
                    cursor: pointer;
                }
            }
        }
    }
}
