@media screen and (max-width: 992px) {
    .productPage {
        padding-top: 14px !important;
    }
}

@media screen and (max-width: 768px) {
    .productPage {
        padding-top: unset !important;

        .breadcrumbs {
            display: none;
        }
    }
}
