.searchItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    padding: 14px 3px 16px 3px;
    cursor: pointer;

    span {
        color: var(--color-blue-accent);
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba(30, 32, 135, 0.1);
    }
}
