.productCard {
    border-radius: 20px;
    max-width: 305px;
    transition: box-shadow 300ms linear;

    .productImage {
        position: relative;
        padding: 20px 20px 0 20px;

        a {
            position: relative;
            display: block;
            width: auto;
            height: 223px;
        }

        img {
            mix-blend-mode: darken;
            object-fit: contain;
        }

        .grade {
            position: absolute;
            top: 25px;
            right: 25px;
        }
    }

    .productBody {
        padding: 20px 20px 36px 20px;

        .productTitle {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.41px;
            margin-bottom: 16px;
            height: 38px;
        }

        .productPrice {
            font-weight: 700;
            font-size: 20px;
            line-height: 14px;
            flex: 1;
        }
    }

    .buttonWrap {
        padding: 0 20px 20px;
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 0 40px 0 #0000001a;
        }
    }

    @media screen and (max-width: 992px) {
        .productImage {
            padding: unset;

            a {
                height: 174px;
            }

            .grade {
                top: 10px;
                right: 10px;
                width: 24px;
                height: 24px;
            }
        }

        .productBody {
            padding: 10px 12px 36px 12px;

            .productTitle {
                font-size: 14px;
                line-height: 16.98px;
            }

            .productPrice {
                font-weight: 600;
                font-size: 18px;
                line-height: 22.05px;
            }
        }

        .buttonWrap {
            padding: unset;

            .button {
                height: 42px;
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        max-width: 177px;

        .productImage {
            a {
                height: 160px;
            }

            .grade {
                top: 8px;
                right: 8px;
            }
        }

        .productBody {
            padding: 12px 16px 28px;

            .productTitle {
                font-size: 14px;
                line-height: 16.98px;
            }

            .productPrice {
                font-weight: 600;
                font-size: 18px;
                line-height: 22.05px;
            }
        }

        .buttonWrap {
            .button {
                height: 38px;
            }
        }
    }
}
