.reviewCard {
    border-radius: 20px;
    padding: 24px;
    background-color: var(--color-grey);
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .reviewWrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 600px;

        .wrap {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .reviewer {
                font-weight: 600;
                font-size: 18px;

                .date {
                    display: none;
                }
            }

            .rating {
                display: flex;
                gap: 4px;

                svg {
                    width: 20px;
                    height: 20px;

                    &.fill {
                        fill: var(--color-dark-blue);
                    }
                }
            }
        }

        .review {
            .title {
                font-weight: 600;
                margin-bottom: 12px;
            }

            .text {
                font-weight: 500;
                font-size: 14px;
            }
        }

        .media {
            display: flex;
            flex-wrap: wrap;
            height: 160px;
            overflow: hidden;
            gap: 10px;

            .imageWrap {
                position: relative;

                .badge {
                    background-color: var(--color-white);
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    border-radius: 10px;
                    padding: 4px 6px;

                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .image {
                object-fit: cover;
                border-radius: 20px;
                cursor: pointer;
            }

            .video {
                cursor: pointer;
            }
        }
    }

    .feedbackWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .feedbacks {
            display: flex;
            gap: 20px;

            .feedback {
                display: flex;
                align-items: center;
                gap: 6px;

                font-size: 14px;
                font-weight: 500;
                color: var(--color-blue-tertiary);

                svg {
                    cursor: pointer;
                }
            }
        }
    }

    .date {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-blue-tertiary);
    }
}

@media screen and (max-width: 992px) {
    .reviewCard {
        .reviewWrap {
            gap: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .reviewCard {
        flex-direction: column;
        padding: 16px 12px;

        .reviewWrap {
            max-width: unset;

            .wrap {
                order: -2;

                .reviewer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .date {
                        display: block;
                    }
                }
            }

            .media {
                height: 84px;
                gap: 4px;
                order: -1;

                .imageWrap {
                    .badge {
                        display: none;
                    }
                }

                .image {
                    object-fit: cover;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .video {
                    cursor: pointer;
                }
            }
        }

        .feedbackWrap {
            align-items: flex-start;

            .date {
                display: none;
            }
        }
    }
}
