.mainBanner {
    .mainBannerContainer {
        background-image: url('../../../shared/assets/images/banners/main_banner_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 82px 108px 71px 108px;
        border-radius: 20px;

        .title {
            font-weight: 500;
            font-size: 54px;
            color: var(--color-white);
            margin-bottom: 36px;
        }

        .description {
            font-weight: 500;
            font-size: 18px;
            line-height: 21.6px;
            color: var(--color-white);
            margin-bottom: 64px;
        }

        .button {
            width: 100%;
            max-width: 220px;
        }

        @media screen and (max-width: 992px) {
            padding: 46px 64px;
            background-position: right;

            .title {
                font-size: 32px;
                margin-bottom: 24px;
            }

            .description {
                font-size: 14px;
                line-height: 16.98px;
                margin-bottom: 40px;
            }

            .button {
                max-width: 164px;
            }
        }

        @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
            background-position: top;
            padding: 24px 16px 21px 16px;
            min-height: 487px;

            .title {
                flex: 1;
                font-size: 40px;
                line-height: 48.52px;
                margin-bottom: 36px;
            }

            .description {
                font-size: 16px;
                line-height: 19.2px;
                margin-bottom: 36px;

                br {
                    display: none;
                }
            }

            .button {
                max-width: unset;
            }
        }

        @media screen and (max-width: 576px) {
            background-image: url('../../../shared/assets/images/banners/main_banner_mobile_bg.png');
        }
    }
}
