.textareaWrap {
    .labelWrap {
        margin-bottom: 10px;

        .label {
            font-weight: 500;
            font-size: 14px;
            line-height: 10px;
        }
    }

    .textarea {
        width: 100%;
        border-radius: 10px;
        background-color: var(--color-grey);
        padding: 14px;
        resize: none;

        font-weight: 500;
        font-size: 16px;
        color: var(--color-dark-blue);

        &::placeholder {
            color: var(--color-blue-tertiary);
        }
    }

    &.isError {
        .textarea {
            outline: 1px solid var(--color-red-accent);
            outline-offset: -1px;
        }

        .error {
            font-weight: 500;
            font-size: 14px;
            color: var(--color-red-accent);
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 992px) {
    .textareaWrap {
        .textarea {
            font-size: 14px;
        }
    }
}
