.textareaWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label {
        font-weight: 500;
        font-size: 14px;
        line-height: 10px;
    }

    .textarea {
        height: 120px;
        background-color: var(--color-grey);
        border-radius: 10px;
        padding: 14px;
        font-weight: 500;
        font-size: 16px;
        color: var(--color-dark-blue);
        resize: none;

        &::placeholder {
            color: var(--color-blue-tertiary);
        }
    }

    &.isError {
        .textarea {
            outline: 1px solid var(--color-red-accent);
            outline-offset: -2px;
        }

        .error {
            font-weight: 500;
            font-size: 14px;
            line-height: 10px;
            margin-top: 10px;
            color: var(--color-red-accent);
        }
    }
}
