.productTabs {
    .slide {
        flex: 1;
    }

    .tabs {
        border-bottom: 1px solid rgba(88, 105, 148, 0.2);

        .tab {
            height: 27px;
            font-weight: 600;
            font-size: 18px;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition: border-color 300ms;

            span {
                color: var(--color-blue-tertiary);
            }

            &.current {
                border-color: var(--color-dark-blue);
            }
        }
    }

    .tabBody {
        padding-top: 60px;
    }
}

.content {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.41px;

    .wrap {
        max-width: 590px;
    }

    h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24.5px;
    }

    ul,
    ol {
        list-style: inside;
    }
}

.specifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;

    .specification {
        .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 11px;
            margin-bottom: 14px;
        }

        .value {
            display: flex;
            flex-direction: column;
            gap: 10px;

            font-weight: 500;
            font-size: 16px;
            line-height: 19.41px;
            color: var(--color-blue-tertiary);
        }
    }
}

.feedback {
    display: flex;
    gap: 20px;

    .reviewWrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 413px;
    }

    .gradeWrap {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 32px;
        color: var(--color-blue-tertiary);
        margin-bottom: 40px;

        svg {
            margin-right: 11px;
            color: var(--color-dark-blue);
            scale: 1.1;
        }

        .ellipse {
            width: 6px;
            height: 6px;
            background-color: var(--color-blue-tertiary);
            border-radius: 6px;
            margin: 0 16px;
        }
    }

    .feedbackListWrap {
        width: 100%;

        .list {
            padding: 24px;
            background-color: var(--color-grey);
            margin-bottom: 20px;
            border-radius: 20px;

            .listTitle {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-weight: 600;
                font-size: 18px;
                margin-bottom: 12px;
                cursor: pointer;
            }

            .mediaList {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 4px;
                height: 120px;
                overflow: hidden;

                .media {
                    border-radius: 10px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
    }

    .feedbackList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .feedbackCard {
            display: flex;
            justify-content: space-between;
            background-color: var(--color-grey);
            padding: 24px;
            border-radius: 20px;
            min-height: 190px;

            .body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 360px;

                .name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 13px;
                    margin-bottom: 15px;
                }

                .grades {
                    display: flex;
                    gap: 3px;
                }

                .text {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16.98px;
                }
            }

            .rateWrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--color-blue-tertiary);
                }

                .rate {
                    display: flex;
                    gap: 19px;

                    .rateItem {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }
                }
            }
        }
    }
}

.allMedia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 88vh;
    padding-bottom: 30px;

    .media {
        cursor: pointer;
        object-fit: cover;
        border-radius: 20px;

        video {
            border-radius: 20px !important;
        }
    }
}

.productDescription {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .description {
        display: flex;
        gap: 60px;

        &.left {
            flex-direction: row-reverse;
        }

        .descriptionWrap {
            h2 {
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 20px;
                line-height: 24.5px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 19.41px;
            }
        }

        .images {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .image {
                border-radius: 20px;
                object-fit: cover;
            }
        }
    }

    .productDescriptionSlider {
        .slideImage {
            width: 100%;
            height: 553px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

.payments {
    display: flex;
    align-items: center;
    gap: 40px;
}

.reviewBody {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .ratingWrap {
        display: flex;
        gap: 7px;
        align-items: center;

        .rating {
            display: flex;
            gap: 7px;

            .star {
                width: 20px;
                height: 20px;
                fill: transparent;
                transition: fill 150ms;
                cursor: pointer;

                &.fill {
                    fill: var(--color-dark-blue);
                }
            }
        }

        .hint {
            font-weight: 500;
            font-size: 14px;
            color: var(--color-blue-tertiary);
        }
    }
}

.file {
    .title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 24px;
    }

    .fileArea {
        display: flex;
        align-items: center;
        gap: 24px;

        .fileWrap {
            min-width: 115px;
            min-height: 101px;
            background-color: var(--color-grey);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .fileText {
            .subtitle {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 10px;
            }

            .hint {
                font-weight: 500;
                font-size: 14px;
                color: var(--color-blue-tertiary);
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .productDescription {
        gap: 24px;

        .description {
            gap: 8px;

            .descriptionWrap {
                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }

            .images {
                .image {
                    width: 374px;
                    height: 248px;
                }
            }
        }

        .productDescriptionSlider {
            .slideImage {
                height: 377px;
            }
        }
    }

    .feedback {
        gap: 10px;

        .reviewWrap {
            max-width: 250px;
        }

        .gradeWrap {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}
