.cartPage {
    padding-top: 60px;

    .title {
        display: flex;
        gap: 18px;
        margin-bottom: 40px;

        span {
            color: var(--color-blue-tertiary);
        }
    }

    .actions {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        .action {
            display: flex;
            align-items: center;
            gap: 6px;

            background-color: var(--color-grey);
            padding: 9px 12px;
            border-radius: 20px;

            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .cart {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .products {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }

        .order {
            padding: 30px 28px;
            background-color: var(--color-grey);
            border-radius: 20px;

            .hint {
                margin-top: 20px;
                font-weight: 500;
                font-size: 14px;
                color: var(--color-blue-tertiary);
            }

            .total {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 40px;

                svg {
                    margin: 0 10px;
                }
            }

            .priceWrap {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-weight: 500;
                font-size: 24px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}
