.wrap {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    .checkbox {
        position: relative;
        width: 18px;
        height: 18px;
        min-width: 18px;
        border: 2px solid var(--color-blue-tertiary);
        border-radius: 6px;
        cursor: pointer;

        svg {
            position: absolute;
            inset: -2px;
            color: transparent;
            transition: color 300ms;
        }
    }

    .label {
        font-size: 14px;
        line-height: 18.2px;
    }

    input:checked + .checkbox {
        svg {
            color: var(--color-blue-accent);
        }
    }
}
